<!DOCTYPE html>
<html>
<head>
  <title>Oh sheet</title>
  <%= stylesheet_link_tag    "oh_sheet/application", media: "all" %>
  <%= javascript_include_tag "oh_sheet/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
